*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.application_animation{
    animation: application_animation 1s;
}

@keyframes application_animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}